.c{
    position: relative;
    width:100%;
    overflow:hidden;
    margin:0 auto;
}
.pageCenter{
    width: auto;
    margin-top: 110px;
    margin-left: 130px;
    margin-right: 130px;
    position: relative;
}
.mainBenner{
    width:100%;
    height:100%;
}
.windowAll{
    position: relative;
}
.section{
    padding: 30px 0 60px 0;
}
.product {
    margin: 0 auto;
    position: relative;
    max-width: 1140px;
    padding: 0 0px;
}
.item{
    overflow: hidden;
    max-width: 1920px;
}
.new{
    position: relative;
    text-align: center;
}
.new h3{
    font-size: 32px;
    color: #1a1a1a;
    font-weight: 400;
    font-family: 'Jua', sans-serif;
    line-height: 32px;
    text-transform: uppercase;
}
.wrap{
    display: flex; 
    overflow: hidden;
    /*border : 1px solid salmon;*/
    background-color: #FFFAFA;
}

.wrap .rolling-list ul { 
	display: flex;
    width:100%; 
    position:relative;
    list-style:none;
}

.wrap .rolling-list ul li { 
	width: 210px;
    height: 110px; 
    box-sizing: border-box; 
    border-radius: 20px; 
    margin: 0 16px; 
    padding: 46px 31px; 
    display: flex; 
    align-items: center; 
    flex-shrink: 0; 
    position: relative;
    float: left;
}

.wrap .rolling-list ul li .image-wrap { 
	padding-right: 32px; 
    max-width:100%;
    width: 115px; 
    flex-shrink: 0; 
}

.wrap .rolling-list ul li .image-wrap > img { 
	width: 100%;
}

.wrap .rolling-list ul li:nth-child(1) { 
    background-color: #F8E1E3;
    width: 175px;
    font-weight: 400;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    text-align: center;
}
.wrap .rolling-list ul li:nth-child(7) { 
    background-color: #FFEAB5; 
    width: 175px;
    font-weight: 400;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    text-align: center;
}
/* 이미지 배경
.wrap .rolling-list ul li:nth-child(3) { 
	background-color: #D3E7DC;
}
.wrap .rolling-list ul li:nth-child(4) { 
	background-color: #A6C1E8;
}
.wrap .rolling-list ul li:nth-child(5) { 
	background-color: #F8E1E3;
}
.wrap .rolling-list ul li:nth-child(6) { 
	background-color: #FFEAB5;
}
.wrap .rolling-list ul li:nth-child(7) { 
	background-color: #D3E7DC;
}
.wrap .rolling-list ul li:nth-child(8) { 
	background-color: #F8E1E3;
}
.wrap .rolling-list ul li:nth-child(9) { 
	background-color: #A6C1E8;
}

.wrap .rolling-list ul li:nth-child(even) {
	margin-top: 80px;
}
*/

.newList2{
    height: 387px;
    max-width: 1920px;
    border : 1px solid salmon;
}
.subBenner{
    padding-top: 5px;
    max-width: 1140px;
    margin: 0 auto;
}
.scrollToTop{
    width: 45px;
    height: 45px;
    background-image: url('/image/arrow.png');
    position: fixed;
    right: 50px;
    bottom: 50px;
    display: none;
    border-radius: 2em;
    background-size: cover;
    z-index: 999;
}

.rolling-list.original {
	animation: rollingleft1 50s linear infinite; /**/
}
.rolling-list.clone {
	animation: rollingleft2 50s linear infinite;
}

@keyframes rollingleft1 {
	0% { transform: translateX(0); }
	50% { transform: translateX(-100%); }
	50.01% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

@keyframes rollingleft2 {
	0% { transition: translateX(0); }
	100% { transform: translateX(-200%); }
}

