.c{
    position: relative;
    width:100%;
    overflow:hidden;
    margin:0 auto;
}
.pageCenter{
    width: auto;
    margin-top: 110px;
    position: relative;
}
.mainBenner{
    width:100%;
    height:100%;
}
.windowAll{
    position: relative;
}
.section{
    padding: 30px 0 60px 0;
}
.product {
    margin: 0 auto;
    position: relative;
    max-width: 1140px;
    padding: 0 0px;
}
.item{
    overflow: hidden;
    max-width: 1920px;
}
.subTitle{
    position: relative;
    text-align: center;
}
.subTitle h3{
    font-size: 2.5rem;
    color: #1a1a1a;
    font-weight: 400;
    font-family: 'Jua', sans-serif;
    /*line-height: 5px;*/
    text-transform: uppercase;
}

.AboutSubTitle{
    position: relative;
    text-align: center;
}

.AboutSubTitle h3{
    margin-bottom: 5px;
    margin-top: 5px;
    font-size: 2.5rem;
    color: #1a1a1a;
    font-weight: 400;
    font-family: 'Jua', sans-serif;
    /*line-height: 5px;*/
    text-transform: uppercase;
}

.wrap{
    display: flex; 
    overflow: hidden;
    /*border : 1px solid salmon;*/
    background-color: #fcf6e3;
}

.wrap .rolling-list ul { 
	display: flex;
    width:100%; 
    position:relative;
    list-style:none;
}

.wrap .rolling-list ul li { 
	width: 210px;
    height: 110px; 
    box-sizing: border-box; 
    border-radius: 20px; 
    margin: 0 16px; 
    padding: 46px 31px; 
    display: flex; 
    align-items: center; 
    flex-shrink: 0; 
    position: relative;
    float: left;
}

.wrap .rolling-list ul li .image-wrap { 
	padding-right: 32px; 
    max-width:100%;
    width: 115px; 
    flex-shrink: 0; 
}

.wrap .rolling-list ul li .image-wrap > img { 
	width: 100%;
}

.wrap .rolling-list ul li:nth-child(1) { 
    background-color: #F8E1E3;
    width: 175px;
    font-weight: 400;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    text-align: center;
}
.wrap .rolling-list ul li:nth-child(7) { 
    background-color: #FFEAB5; 
    width: 175px;
    font-weight: 400;
    font-family: 'Jua', sans-serif;
    font-size: 20px;
    text-align: center;
}
/* 이미지 배경
.wrap .rolling-list ul li:nth-child(3) { 
	background-color: #D3E7DC;
}
.wrap .rolling-list ul li:nth-child(4) { 
	background-color: #A6C1E8;
}
.wrap .rolling-list ul li:nth-child(5) { 
	background-color: #F8E1E3;
}
.wrap .rolling-list ul li:nth-child(6) { 
	background-color: #FFEAB5;
}
.wrap .rolling-list ul li:nth-child(7) { 
	background-color: #D3E7DC;
}
.wrap .rolling-list ul li:nth-child(8) { 
	background-color: #F8E1E3;
}
.wrap .rolling-list ul li:nth-child(9) { 
	background-color: #A6C1E8;
}

.wrap .rolling-list ul li:nth-child(even) {
	margin-top: 80px;
}
*/

.newList2{
    height: 387px;
    max-width: 1920px;
    border : 1px solid salmon;
}
.subBenner{
    padding-top: 5px;
    max-width: 1140px;
    margin: 0 auto;
}
.scrollToTop{
    width: 45px;
    height: 45px;
    background-image: url('/image/arrow.png');
    position: fixed;
    right: 0.5em;
    bottom: 50px;
    display: none;
    border-radius: 2em;
    background-size: cover;
    z-index: 999;
}

.rolling-list.original {
	animation: rollingleft1 50s linear infinite; /**/
}
.rolling-list.clone {
	animation: rollingleft2 50s linear infinite;
}

@keyframes rollingleft1 {
	0% { transform: translateX(0); }
	50% { transform: translateX(-100%); }
	50.01% { transform: translateX(100%); }
	100% { transform: translateX(0); }
}

@keyframes rollingleft2 {
	0% { transition: translateX(0); }
	100% { transform: translateX(-200%); }
}

.aboutMeAll{
    max-width: 1980px;
}

.aboutMeCenter{
    -webkit-box-sizing: border-box;
    width: 100%;
    max-width: 60.25rem;
    padding: 0rem 2rem;
    margin: 5px auto;
}

.aboutMeCenter-top{
    -webkit-box-sizing: border-box;
    width: 100%;
    max-width: 60.25rem;
    padding: 2rem 0rem;
    margin: 5px auto;
}

.aboutMeCenter2{
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    -webkit-box-pack: justify;
}

.aboutMeCenter2-top{
    margin-bottom: -35px;
    margin-top: 35px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    -webkit-box-pack: justify;
}

.aboutImage{
    width: 2rem;
    min-width: 2rem;
    height: 2rem;
    margin-top: 0.2rem;
    margin-right: 2rem;
}

.aboutImage2{
    width: 100%;
}

.aboutMeList{
    width: 33.33333%;
    margin-bottom: 2rem;
}

.aboutMeList-top{
    width: 50%;
    margin-bottom: 2rem;
}

.aboutMeList2{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 13rem;
    margin: 5px auto;
    opacity: 74.8;
}

.aboutMeList2-top{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    max-width: 30rem;
    margin: 30px auto;
    opacity: 74.8;
}

.aboutMiniTitle{
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-family: 'Jua', sans-serif;
    font-size: 1.5rem;
}

.aboutMiniTitle-detail{
    font-weight: 400;
    font-family: 'Jua', sans-serif;
    font-size: 1.25rem;
}

.aboutMiniTitle-top{
    margin-bottom: 0.5rem;
    font-weight: 400;
    font-family: 'Jua', sans-serif;
    font-size: 1.5rem;
}

.aboutMiniTitle-detail-top{
    font-weight: 400;
    font-family: 'Jua', sans-serif;
    font-size: 1.25rem;
}

.myPhoto{
    width: 50px;
    height: 50px;
}

.myPhotoBorder{
    width: 30%;
    height: 400px;
    top: 180px;
    left: 500px;
    border: 1px solid black;
}

.aboutMeTop{
    overflow: hidden;
    max-width: 1920px;
}

.aboutMeTop2{
    max-width: 1920px;
    border: 1px solid salmon;
}

.myImage{
    width: 100%;
    height: 340px;
}

::-moz-selection {
    background: lightblue;
    color: #fff;
 }
 ::selection {
    background: lightblue;
    color: #fff;
 }

 .typing{
    margin: 20px auto;
    text-align: center;
 }

 .typing h1{
    font-size: 1vw;
    min-width:11px;
    white-space: nowrap;
    margin: 0;
    position: absolute;
    color: transparent;
    left:50%;
    transform: translate(-50%, -50%);
 }

 .typing h1::before{
    content: "안녕하세요. 사용자 친화적인 서비스를 추구하는 Software Engineer 입니다.";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    overflow: hidden;
    border-right: 1px solid black;
    animation: typing 5s steps(31) infinite;
 }

 .introduce{
    margin: 5px auto;
 }

 .introduce p{
    line-height: 28px;
    font-size: 1vw;
    letter-spacing: 0.5px;
 }

 @keyframes typing{
    0% {
      width: 0%;
    }
    50% {
      width: 100%;
    }
    100% {
      width: 0%;
    }
  }